@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgb(35, 31, 31);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: #fff;
  text-shadow: 5px 5px 10px red;
  font-size: 4em;
}
.container {
  width: 500px;
  height: 500px;
}
.container .chbox {
  display: flex;
  justify-content: center;
}
.container .box {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 15%;
  background: green;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  animation: rotating 4s linear infinite;
}
.container .box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  animation: rotating 4s linear infinite;
  filter: blur(40px);
}
.box span {
  position: absolute;
  inset: 4px;
  background: #222;
  border-radius: 16px;
  z-index: 1;
}

.box .horisontal {
  position: absolute;
  height: 50%;
  width: 130%;
  left: -15%;
  top: 25%;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  animation: rotating 4s linear infinite;
  border-radius: 20px;
}
.box .vertical {
  position: absolute;
  background: repeating-conic-gradient(
    from var(--a),
    #0f0,
    #ff0,
    #0ff,
    #f0f,
    #0ff
  );
  animation: rotating 4s linear infinite;
  width: 50%;
  height: 130%;
  top: -15%;
  left: 25%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .mul_div {
  position: absolute;
  width: 200px;
  height: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  /* background: blue; */
  margin: 30px;
  padding: 30px;
}
.container .add_sub {
  position: absolute;
  width: 440px;
  height: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  /* background: red; */
  margin: 30px;
  padding: 30px;
}
.container label {
  filter: blur(1px);
}
.container label:hover {
  filter: blur(0px);
}
.icon {
  width: 80px;
  border: 3px solid rgba(105, 25, 25, 0.682);
  border-radius: 50%;
  background: rgba(238, 77, 77, 0.473);
  padding: 2px;
  cursor: pointer;
  text-shadow: 4px 4px 10px 0 green;
}
img {
  box-shadow: 4px 4px 10px 0 red;
}
.icon:hover {
  background: white;
  transition: 1s;
  animation: scaling 1s forwards;
  border: none;
  box-shadow: 5px 5px 6px 0 red;
}
.icon:active {
  animation: activity 1s linear;
  background: #fff;
  transition: 2s;
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes rotating {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes activity {
  0% {
    background: #ffffff63;
  }
  25% {
    background: #fff;
  }
  75% {
    background: #fff;
  }
  100% {
    background: #ffffff7d;
  }
}

.mul_div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 10%;
}
.chbox input {
  appearance: none;
  display: none;
}

@media screen and (orientation: portrait) {
  .container {
    width: 80vw;
    height: 80vw;
  }
  .container .add_sub {
    width: 65vw;
    height: 65vw;
    margin: 7.5%;
    padding: 0;
  }
  .container .mul_div {
    width: 30vw;
    height: 65vw;
    margin: 7.5%;
    padding: 0;
  }
  .container .numbers .info,
  .container .numbers input {
    width: 30vw;
  }
}
@media screen and (max-width: 600px) {
  .icon {
    width: 55px;
  }
  .container .numbers .info,
  .container .numbers input {
    font-size: 1em;
    margin: 10px;
  }
}

input:nth-child(1):checked ~ .add_sub label:nth-child(1),
input:nth-child(2):checked ~ .add_sub label:nth-child(2),
input:nth-child(3):checked ~ .mul_div label:nth-child(1),
input:nth-child(4):checked ~ .mul_div label:nth-child(2) {
  filter: blur(0.1px);
}
.container .numbers {
  position: absolute;
  height: 150px;
  z-index: 100;
  /* background: green; */
  display: flex;
  flex-direction: column;
}

.numbers .info,
.numbers input {
  background: rgba(194, 57, 57, 0.747);
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  width: 160px;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(126, 2, 2, 0.575);
}

.numbers .info:hover::placeholder,
.numbers input:hover::placeholder {
  opacity: 0.2;
}
.numbers .info:hover,
.numbers input:hover {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.575);
  background: #fff;
  transition: 0.5s;
  transform: scale(1.1);
  color: black;
}
.numbers .info:active,
.numbers input:active {
  animation: inputhover 1s linear forwards;
}
@keyframes inputhover {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
    background: #fff;
  }
}
